<%= render "layouts/header" %>

<div class='dash-header'>
	<h1 class='dash-h1'>Welcome, <%= @user.name %></h1>
	<hr>
</div>

<div class='dash-container'>

	<div class='dash-projects'>
		<div class='dash-projects-header'>
			<div></div>
			<h2>Projects</h2>
			<%= button_to "+", new_project_path, method: :get %>
		</div>
		<hr>
		<ul>
			<% Project.order('updated_at desc').each do |project| %>
				<a class='dash-project-link' href='/projects/<%= project.id %>'>
					<%= project.name %>
				</a>
				<p class='dash-project-description'><%= project.description %></p>
				<hr>
			<% end %>
		</ul>
		<a class='dash-create-link dash-project-link' href='/projects/new'>
			Create New Project
		</a>
	</div>
	
	<div class='dash-projects'>
		<div class='dash-projects-header'>
			<div></div>
			<h2>Issues</h2>
			<%= button_to "+", new_issue_path, method: :get %>
		</div>
		<hr>
		<ul>
			<% Issue.order('updated_at desc').each do |issue| %>
				<a class='dash-project-link' href='<%= issue_path(issue) %>'>
					<%= issue.subject %>
				</a>
				<p class='dash-project-description'>
					Status: <%= issue.status %> <span class='dash-separator'>|</span> 
					Priority: <%= issue.priority %> <span class='dash-separator'>|</span> 
					Reported By: <%= User.find(issue.reporter_id).name %>
				</p>
				<hr>
			<% end %>
		</ul>
		<a class='dash-create-link dash-project-link' href='/issues/new'>
			Create New Issue
		</a>
	</div>
	
</div>
