<%= render "layouts/header" %>

<div class='auth-div'>
	<h1 class='auth-h1'>Log In</h1>

	<% if flash[:notice] %>
		<p class='auth-missing'><%= flash[:notice] %></p>
		<br>
	<% end %>
	
	<%= form_tag sessions_path do %>
		  <%= text_field_tag :email, nil, placeholder: "Email Address" %>
		  <br>
		  <%= password_field_tag :password, nil, placeholder: "Password" %>
		  <br>
		  <%= submit_tag "Log In"%>
	<% end %>
</div>

<footer class='home-created-by auth-footer'>Created by Peter Tran</footer>
