<div class='a-project-div'>
	<hr>
	<div class='dash-projects-header'>
		<div></div>
		<h2>Comments</h2>
		<div></div>
	</div>
	<%= content_tag :div,
			id: 'vuejs',
			data: { comments: @comments, new_comment: @new_comment } do %>
		<div v-for='comment in comments' :key='comment.id'>
			<div class='comment-header'>
				<p>{{ comment.commenter }} says,</p>
				<p>{{ creationTime(comment) }}</p>
			</div>
			<p class='comment-content'>{{ comment.content }}</p>
			<hr>
		</div>
		<label class='new-comment-label'>New Comment</label>
		<br>
		<p class='auth-missing new-project-missing' v-show='error'>{{ error }}</p>
		<textarea v-model='newComment.content'></textarea>
		<br>
		<button @click='addComment'>Add Comment</button>
	<% end %>
</div>
