<%= render "layouts/header" %>

<div class='new-project-div'>
	<h1 class='h1'><%= issue.persisted? ? 'Edit Issue' : 'New Issue' %></h1>
	
	<% if flash[:errors] %>
		<% flash[:errors].each do |error| %>
		  <p class='auth-missing new-project-missing'><%= error %></p>
		<% end %>
		<br>
	<% end %>
	
	<%= form_for issue do |f| %>
		<div class='issue-form-line'>
			<div>
				<%= f.label :project_id, 'Project' %><br>
				<%= f.select :project_id, Project.all.map { |p| [p.name, p.id] } %>
			</div>
			<div>
				<label>Reporter</label><br>
				<%= issue.reporter.name %>
			</div>
			<div>
				<%= f.label :assignee_id, 'Assigned To' %><br>
				<%= f.select :assignee_id, User.all.map { |u| [u.name, u.id] },
					include_blank: true %>
			</div>
			<div>
				<%= f.label :priority %><br>
				<%= f.select :priority, Issue::PRIORITIES.map { |p| [p, p] } %>
			</div>
			<div>
				<%= f.label :status %><br>
				<%= f.select :status, Issue::STATUSES.map { |s| [s, s] } %>
			</div>
			<div>
				<%= f.label :due_date, 'Due Date' %><br>
				<%= f.date_field :due_date %>
			</div>
		</div>
		<%= f.label :subject %><br>
		<%= f.text_field :subject %>
		<br>
		<%= f.label :description %><br>
		<%= f.text_area :description %>
		<br>
		<%= f.submit issue.persisted? ? 'Update Issue' : 'Create Issue' %>
	<% end %>
	
	<%= button_to 'Cancel',
		issue.persisted? ? issue_path(issue) : dashboard_path,
		method: :get %>
</div>
