<%= render "layouts/header" %>

<div class='auth-div'>
	<h1 class='auth-h1'>Sign Up</h1>
	
	<% if flash[:errors] %>
		<% flash[:errors].each do |error| %>
		  <p class='auth-missing'><%= error %></p>
		<% end %>
		<br>
	<% end %>
	
	<%= form_for @user do |f| %>
		<%= f.text_field :name, placeholder: "Name" %>
		<br>
		<%= f.text_field :email, placeholder: "Email Address" %>
		<br>
		<%= f.password_field :password, placeholder: "Password" %>
		<br>
		<%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>
		<br>
		<%= f.submit "Create Account" %>
	<% end %>
</div>

<footer class='home-created-by auth-footer'>Created by Peter Tran</footer>
