<div class='home-background' id='home-top'>
	<%= render "layouts/header" %>
	<div class='home-section-1'>
		<h1 class='home-h1'>Get Things Done</h1>
		<hr>
		<p class='home-p-1'>With this simple yet productive issue tracker, you and your team can manage projects and tasks quickly and effectively!</p>
		<br>
		<a class='home-arrow-1' href='#home-middle'>
			Learn More <span class="chevron bottom"></span>
		</a>
	</div>
</div>

<div id='home-middle'>
	<h2>It's as easy as 1-2-3!</h2>
	<br>
	<div class='home-steps'>
		<div class='home-step-1'>
			<%= image_tag 'project.png', alt: 'project icon' %>
			<br><br>
			<p>Create a project</p>
			<hr>
			<p>Establish the purpose and objectives of a project in a central location.</p>
		</div>
		<span class="chevron right"></span>
		<div class='home-step-2'>
			<%= image_tag 'issue.png', alt: 'issue icon' %>
			<br><br>
			<p>Create an issue ticket</p>
			<hr>
			<p>Document issues experienced and tasks to be completed throughout the duration of the project.</p>
		</div>
		<span class="chevron right"></span>
		<div class='home-step-3'>
			<%= image_tag 'comment.png', alt: 'comment icon' %>
			<br><br>
			<p>Comment as you work</p>
			<hr>
			<p>Track the progress of issues and collaborate with team members more effectively.</p>
		</div>
	</div>
</div>

<div class='home-bottom'>
	<p>What are you waiting for? Let's get started.</p>
	<br><br>
	<a class='home-arrow-1 gray-border' href='/signup'>
		Sign Up
	</a>
	<br><br><br>
	<hr>
	<footer>
		<p class='home-created-by'>Created by Peter Tran</p>
		<br>
		<a class='home-arrow-1 home-back-to-top' href='#home-top'>
			Back to Top <span class="chevron"></span>
		</a>
	</footer>
</div>
