.comment-header {
	display: flex;
	justify-content: space-between;
	font-size: 16px;
}

.comment-content {
	margin: 30px;
	font-size: 20px;
}

.new-comment-label {
	display: block;
	text-align: center;
	font-size: 22px;
}
