.dash-header {
	text-align: center;
	margin: 15px 30px;
	font-family: sans-serif;
}

.dash-header hr {
	color: rgb(250,250,250);
}

.dash-container {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	font-family: sans-serif;
	margin: 0 40px;
}

.dash-projects {
	flex: 1;
	margin: 0 30px;
}

.dash-projects-header {
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
}

.dash-projects-header input:last-child {
	background: transparent;
	border: 1px solid gray;
	border-radius: 2px;
	color: blue;
	font-weight: bold;
}

.dash-projects-header input:last-child:hover {
	cursor: pointer;
	background: rgb(240,240,240);
}

.dash-projects hr {
	color: rgb(250,250,250);
}

.dash-project-link {
	text-decoration: none;
}

.dash-project-link:hover {
	text-decoration: underline;
}

.dash-project-description {
	margin: 10px;
	font-size: 16px;
}

.dash-create-link {
	font-size: 14px;
}

.dash-separator {
	color: rgb(180,180,180);
}
