<!DOCTYPE html>
<html>
  <head>
    <title>Issue Tracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'entry' %>
  </head>
	
	<body>
		<%= yield %>
	</body>
	
</html>
